legend {
  display: block;
  -webkit-padding-start: 2px;
  -webkit-padding-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  width: inherit;
  padding: 0 10px;
  /* border-bottom: none; */
  font-size: 2.2rem;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.5em;
  -webkit-padding-end: 0.5em;
  -webkit-padding-after: 0.5em;
  /*min-width: -webkit-min-content; */
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
